body {
    background-color: aliceblue;
    color: #b25900;
}

ul {
    background-color: black;
    text-align: left;
}

a {
    color: yellow;
}

li {
    font-size: 15px;
    border: 1px;
    position: relative;
    padding: 5px;
    display: inline-block;
}

h1 {
    color: black;
}

a:hover {
    color: white;
}