.extreme {
    color: #a6d9f7;
    text-align: right;
}

.navzone {
    background-color: #84dccf;
}

.content {
    background-color: #d4b483;
    text-align: right;
}

#head1 {
    font-family: Impact, Charcoal, sans-serif;
}

#tehlulz {
    font-size: 2em;
}

.prose {
    color: #c1666b;
}

h1 {
    padding: 5px;
}

body {
    background-color: #312f2f;
}

ul {
    position: center;
}

li {
    color: #bccc30;
}