body {
    background-color: #feffe0;
    color: #8b715c;
    margin-left: 100px;
    margin-right: 100px;
}

.content1 {
    font-family: andale mono;
    overflow: auto;
}

.content2 {
    display: flex;
    background-color: #256d1b;
    color: #feffe0;
    border: 2px solid black;
}

h2 {
    text-align: right;
}

h2:hover {
    color: #8b715c;
    transition: .5s;
}

.content3 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: #8e4162;
    color: #feffe0;
}